@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(51, 65, 85);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
  border-radius: 4px;
  border: 1px solid rgb(51 65 85 / 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 116, 139);
}

::-webkit-scrollbar-corner {
  background: rgb(51, 65, 85);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(100, 116, 139) rgb(51, 65, 85);
}
