@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  @supports not (color: light-dark(tan, tan)) {
    :root:not(.light) {
      color-scheme: dark;
    }
  }
}
