@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  @supports not (color: light-dark(tan, tan)) {
    :root:not(.light) {
      color-scheme: dark;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(226, 232, 240);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 4px;
  border: 1px solid rgb(203 213 225 / 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 116, 139);
}

::-webkit-scrollbar-corner {
  background: rgb(226, 232, 240);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(148, 163, 184) rgb(226, 232, 240);
}

.dark ::-webkit-scrollbar-track {
  background: rgb(51, 65, 85);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
  border: 1px solid rgb(51 65 85 / 0.5);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 116, 139);
}

.dark ::-webkit-scrollbar-corner {
  background: rgb(51, 65, 85);
}

.dark * {
  scrollbar-color: rgb(100, 116, 139) rgb(51, 65, 85);
}
